*{
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	height: 100000vh;
	background-color: #F6FAB9;
}

.content {
    
    display: center;
	text-align: center;	
}

.Foto {
	float:left;
	background-color: #F6FAB9;
}

.navigator {
  display: flex;
  justify-content: space-between;


}

.navigator>nav>ul {

	display: flex;
	list-style: none;


}

.navigator>nav>ul>li>a {

display: block;
padding: 10px;
border-style: solid;
border-width: 0.5px;

}
